	<div class="collapse show" id="collapseMap" data-parent="#myGroup" style="margin-bottom:-30px">
		<div class="row" id="map_row" style="height:calc(100vh - 90px);height:calc((var(--vh, 1vh) * 100) - 90px);margin-top:10px;margin-bottom:-30px;">
			<div class="col"  id="map_column" style="position:relative; height=100%;z-index:1;">
				<div id = "map" style = "height: 100%; width: 100%;"></div>
			</div>
		</div>
		<div class="btn-group" role="group" aria-label="Map controls" style="position:relative;z-index:2;top:-3px;">
			<button id="followModeButton" type="button" class="btn btn-primary btn-sm" onclick="toggleFollowPlane();$(this).blur();"><span id=followMode>Unfollow Plane</span></button>
			<button id="GPStrackButton" type="button" class="btn btn-primary btn-sm" onclick="toggleGPStrack();$(this).blur();">GPS Track</button>
		</div>
	</div>