	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapseap_a32nx_stable" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- Main AP Engage -->
					<div class="col" style="margin-top:20px">
						<div class="lead" style="margin-bottom:-15px">AP Master</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('MobiFlight.A32NX_FCU_AP1_PUSH',0,true);$(this).blur();" id="FBW_A32NX_autopilot-master" type="button" class="btn mt-3 btn-block btn-danger btn-lg">?</button>
							<hr class="bg-secondary" style="margin-bottom:5px">
						</div>
						</div>
					</div>
				</div>
				
				<!-- Second Row-->
				<div class="row" style="margin-top:-23px">
					<!-- AP Controls -->
					<div class="col" style="margin-top:20px; margin-bottom:0px; max-width:400px; min-width:332px">
						<div class="lead">AP Controls</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<p style="margin-top:16px;margin-bottom:4px">Airspeed</p>
							<table>
								<tr>
									<td>
									<div class="input-group sim-input-field" style="width:139px;margin-right:4px">
										<input id="FBW-A32NX-airspeed-hold-var" type="number" class="form-control" placeholder="?" aria-describedby="basic-addon2" disabled>
										<div class="input-group-append">
											<button class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:67px;padding-left:0px;padding-right:0px" id="FBW-A32NX_SPD_unit">KTS</button>
										</div>
									</div>
									</td>
									<td>
										<button type="button" onpointerdown="presshold(function(){ triggerSimEvent('MobiFlight.A320_Neo_FCU_SPEED_DEC',0,true) }, 400, 0.6, 90);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" class="btn btn-secondary" style="width:67px;padding-left:0px;padding-right:0px">-SPD</button>
										<button type="button" onpointerdown="presshold(function(){ triggerSimEvent('MobiFlight.A320_Neo_FCU_SPEED_INC',0,true) }, 400, 0.6, 90);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" class="btn btn-secondary" style="width:67px;padding-left:0px;padding-right:0px">+SPD</button>
									</td>
								</tr>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent('MobiFlight.A320_Neo_FCU_SPEED_PULL',0,true); $(this).blur();" class="btn btn-secondary" id="FBW_A32NX_SPD_selected" style="width:139px;padding-left:0px;padding-right:0px">Selected SPD</button>
									</td>
									<td>
										<button type="button" onclick="triggerSimEvent('MobiFlight.A320_Neo_FCU_SPEED_PUSH',0,true); $(this).blur();" class="btn btn-secondary" id="FBW_A32NX_SPD_managed" style="width:139px;padding-left:0px;padding-right:0px">Managed SPD</button>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<button type="button" onclick="triggerSimEvent('MobiFlight.A320_Neo_FCU_SPEED_TOGGLE_SPEED_MACH',0,true); $(this).blur();" class="btn btn-sm btn-secondary" style="width:284px;padding-left:0px;padding-right:0px">Toggle SPD MACH</button>
									</td>
								</tr>
							</table>
							
							<p style="margin-top:16px;margin-bottom:4px">Heading</p>
							<table>
								<tr>
									<td>
										<div class="input-group sim-input-field" style="width:139px;margin-right:4px">
										<input id="FBW-A32NX-heading-lock-dir" type="number" class="form-control" placeholder="?" aria-describedby="basic-addon2" disabled>
										<div class="input-group-append">
											<button class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:67px;" id="FBW-A32NX_HDG_unit">HDG</button>
										</div>
										</div>
									</td>
									<td>
										<button type="button" onpointerdown="presshold(function(){ triggerSimEvent('MobiFlight.A320_Neo_FCU_HDG_DEC',0,true) }, 400, 0.6, 90);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" class="btn btn-secondary" style="width:67px;padding-left:0px;padding-right:0px">-HDG</button>
										<button type="button" onpointerdown="presshold(function(){ triggerSimEvent('MobiFlight.A320_Neo_FCU_HDG_INC',0,true) }, 400, 0.6, 90);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" class="btn btn-secondary" style="width:67px;padding-left:0px;padding-right:0px">+HDG</button>
									</td>
								</tr>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent('MobiFlight.A320_Neo_FCU_HDG_PULL',0,true); $(this).blur();" class="btn btn-secondary" id="FBW_A32NX_HDG_selected" style="width:139px;padding-left:0px;padding-right:0px">Selected HDG</button>
									</td>
									<td>
										<button type="button" onclick="triggerSimEvent('MobiFlight.FBW_A32NX_STBL_FCU_HDG_PUSH',0,true); $(this).blur();" class="btn btn-secondary" id="FBW_A32NX_HDG_managed" style="width:139px;padding-left:0px;padding-right:0px">Managed HDG</button>
									</td>
								</tr>
							</table>
							
							<p style="margin-top:16px;margin-bottom:4px">Altitude</p>
							<table>
								<tr>
									<td>
										<div class="input-group sim-input-field" style="width:139px;margin-right:4px">
										<input id="FBW-A32NX-altitude-lock-var" type="number" class="form-control" placeholder="?" aria-describedby="basic-addon2" disabled>
										<div class="input-group-append">
												<button class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:67px;">FTS</button>
											</div>
										</div>
									</td>
									<td>
										<button type="button" onpointerdown="presshold(function(){ triggerSimEvent('MobiFlight.A32NX_FCU_ALT_DEC',0,true) }, 400, 0.6, 90);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" class="btn btn-secondary" style="width:67px;padding-left:0px;padding-right:0px">-ALT</button>
										<button type="button" onpointerdown="presshold(function(){ triggerSimEvent('MobiFlight.A32NX_FCU_ALT_INC',0,true) }, 400, 0.6, 90);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" class="btn btn-secondary" style="width:67px;padding-left:0px;padding-right:0px">+ALT</button>
									</td>
								</tr>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent('MobiFlight.XMLVAR_Autopilot_Altitude_Increment_100Feet',0,true); $(this).blur();" class="btn btn-sm btn-secondary" id="FBW_A32NX_increment_100" style="width:139px;padding-left:0px;padding-right:0px">Increment 100</button>
									</td>
									<td>
										<button type="button" onclick="triggerSimEvent('MobiFlight.XMLVAR_Autopilot_Altitude_Increment_1000Feet',0,true); $(this).blur();" class="btn btn-sm btn-secondary" id="FBW_A32NX_increment_1000" style="width:139px;padding-left:0px;padding-right:0px">Increment 1000</button>
									</td>
								</tr>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent('MobiFlight.A320_Neo_FCU_ALT_PULL',0,true); $(this).blur();" class="btn btn-secondary" id="FBW_A32NX_ALT_selected" style="width:139px;padding-left:0px;padding-right:0px">Selected ALT</button>
									</td>
									<td>
										<button type="button" onclick="triggerSimEvent('MobiFlight.A320_Neo_FCU_ALT_PUSH',0,true); $(this).blur();" class="btn btn-secondary" id="FBW_A32NX_ALT_managed" style="width:139px;padding-left:0px;padding-right:0px">Managed ALT</button>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<button type="button" onclick="triggerSimEvent('MobiFlight.A320NX_METRIC_ALT_TOGGLE',0,true); $(this).blur();" class="btn btn-sm btn-secondary" style="width:284px;padding-left:0px;padding-right:0px">Toggle Metric ALT</button>
									</td>
								</tr>
							</table>
							
							<p style="margin-top:16px;margin-bottom:4px">Vertical Speed</p>
							<table>
								<tr>
									<td>
										<div class="input-group sim-input-field" style="width:139px;margin-right:4px">
											<input id="FBW-A32NX-vertical-hold-var" type="number" class="form-control" placeholder="?" aria-describedby="basic-addon2" disabled>
											<div class="input-group-append">
												<button class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:67px;" id="FBW-A32NX_VS_unit">FPM</button>
											</div>
										</div>
									</td>
									<td>
										<button type="button" onpointerdown="presshold(function(){ triggerSimEvent('MobiFlight.A320_Neo_FCU_VS_DEC',0,true) }, 400, 0.6, 90);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" class="btn btn-secondary" style="width:67px;padding-left:0px;padding-right:0px">-VS</button>
										<button type="button" onpointerdown="presshold(function(){ triggerSimEvent('MobiFlight.A320_Neo_FCU_VS_INC',0,true) }, 400, 0.6, 90);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" class="btn btn-secondary" style="width:67px;padding-left:0px;padding-right:0px">+VS</button>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<button type="button" onclick="triggerSimEvent('MobiFlight.A320_Neo_FCU_VS_PULL',0,true);$(this).blur();" class="btn btn-secondary" style="width:139px;padding-left:0px;padding-right:0px">Engage VS</button>
										<button type="button" onclick="triggerSimEvent('MobiFlight.A320_Neo_FCU_VS_PUSH',0,true);triggerSimEvent ('AP_PANEL_VS_ON', 1, true);$(this).blur();" class="btn btn-secondary" style="width:139px;padding-left:0px;padding-right:0px">Level off</button>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<button type="button" onclick="triggerSimEvent('MobiFlight.A32NX_TRK_FPA_MODE',0,true); $(this).blur();" class="btn btn-sm btn-secondary" style="width:284px;padding-left:0px;padding-right:0px">Toggle HDG/VS - TRK/FPA</button>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<p class="font-italic text-secondary" style="margin-bottom:0px">VS in FPM is not displayed.</p>
									</td>
								</tr>
							</table>
							
							<table style="vertical-align: middle;text-align: left;margin-top:24px">
								<tr>
									<td width="120">LOC Mode:</td>
									<td width="70"><button onclick="triggerSimEvent('MobiFlight.A320NX_LOC',0,true);$(this).blur();" id="FBW_A32NX_LOC" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
								</tr>
								<tr>
									<td width="120">A/THR:</td>
									<td width="70"><button onclick="triggerSimEvent('MobiFlight.A32NX_FCU_ATHR_TOG',0,true);$(this).blur();" id="FBW_A32NX_ATHR" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
								</tr>
								<tr>
									<td width="120">EXPED Mode:</td>
									<td width="70"><button onclick="triggerSimEvent('MobiFlight.A320_Neo_EXPEDITE_MODE',0,true);$(this).blur();" id="FBW_A32NX_EXPED" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
								</tr>
								<tr>
									<td width="120">APPR Mode:</td>
									<td width="70"><button onclick="triggerSimEvent('MobiFlight.A320NX_APPR',0,true);$(this).blur();" id="FBW_A32NX_APPR" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
								</tr>
							</table>

						</div>
						</div>
					</div>
					
				</div>
			
			</div>
		</div>
	</div>