	<div class="collapse" id="collapseAP" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- AP -->
					<div class="col" style="margin-top:20px">
						<div class="lead" style="margin-bottom:-15px">AP Master</div>
						
						<button onclick="triggerSimEvent('AP_MASTER');$(this).blur();" id="autopilot-master" type="button" class="btn mt-3 btn-block btn-danger btn-lg">?</button>
						
						<hr class="bg-secondary" style="margin-bottom:5px">
						
						<table style="margin-bottom:10px">
							<tr>
								<td><span class="badge badge-secondary">Default AP Controls</span></td>
								<td>
									<form>
										<div class="custom-control custom-switch" style="margin-top:3px;margin-right:-7px">
											<input type="checkbox" class="custom-control-input" id="APtypeswitch" onclick="$('#defaultAP, #a320AP').toggle();">
											<label class="custom-control-label" for="APtypeswitch"></label>
										</div>
									</form>
								</td>
								<td><span class="badge badge-secondary">A320 AP Controls</span></td>
							</tr>
						</table>
						
						<!-- Default AP Controls -->
						<div id="defaultAP">
						
							<div class="lead">Default AP Controls</div>
							
							<table style="border-collapse:separate; border-spacing:0 5px; vertical-align: middle; text-align: left">
								<tr>
									<td width="120">NAV Mode</td>
									<td width="70"><button onclick="triggerSimEvent('AP_NAV1_HOLD');$(this).blur();" id="autopilot-nav1-lock" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
									<td></td>
								</tr>
								<tr>
									<td>Heading (deg)</td>
									<td><button onclick="triggerSimEvent('AP_PANEL_HEADING_HOLD');$(this).blur();" id="autopilot-heading-lock" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
									<td>
										<div class="input-group sim-input-field" style="width:150px">
											<input id="autopilot-heading-lock-dir" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('AP_hdg_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button onclick='if (document.getElementById("autopilot-heading-lock-dir").value <= 360 && document.getElementById("autopilot-heading-lock-dir").value >= 0 && document.getElementById("autopilot-heading-lock-dir").value != "") {triggerSimEventFromField ("HEADING_BUG_SET", "autopilot-heading-lock-dir", "Setting Heading Bug");$("#autopilot-heading-lock-dir").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP heading in degrees" id="AP_hdg_set">Set</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>Altitude (ft)</td>
									<td><button id="autopilot-altitude-lock" type="button" class="btn m-1 btn-danger" style="width: 55px" disabled>?</button></td>
									<td>
										<div class="input-group sim-input-field" style="width:150px">
											<input id="autopilot-altitude-lock-var" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('AP_alt_set').click();" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button onclick='if (document.getElementById("autopilot-altitude-lock-var").value <= 100000 && document.getElementById("autopilot-altitude-lock-var").value >= 0 && document.getElementById("autopilot-altitude-lock-var").value != "") {triggerSimEventFromField ("AP_ALT_VAR_SET_ENGLISH", "autopilot-altitude-lock-var", "Setting AP ALT");$("#autopilot-altitude-lock-var").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP altitude in feet" id="AP_alt_set">Set</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="2">
										<button type="button" onclick="triggerSimEventFromVar ('AP_ALT_VAR_SET_ENGLISH', altitude, 'Setting ALT AP');triggerSimEvent('AP_ALT_HOLD_ON');$(this).blur();" class="btn btn-success btn-sm"" title="Toggle ALT AP Current Alt" style="margin-left:3px;margin-right:-3px;width:105px">Current ALT</button>
										<button type="button" onclick="triggerSimEvent('AP_PANEL_ALTITUDE_ON');$(this).blur();" class="btn btn-success btn-sm" title="Toggle ALT AP Set Alt" style="margin-left:3px;width:105px">Set ALT</button>
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="2">
										<button type="button" onclick="triggerSimEvent('AP_ALT_HOLD_OFF');$(this).blur();" class="btn btn-danger btn-sm"" title="Toggle ALT AP Current Alt" style="margin-left:3px;width:215px">Disengage ALT AP</button>
									</td>
								</tr>
								<tr>
									<td>V. Speed (fpm)</td>
									<td><button onclick="triggerSimEvent('AP_PANEL_VS_HOLD');$(this).blur();" id="autopilot-vertical-hold" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
									<td>
										<div class="input-group sim-input-field" style="width:150px">
											<input id="autopilot-vertical-hold-var" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('AP_vs_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button onclick='if (document.getElementById("autopilot-vertical-hold-var").value <= 10000 && document.getElementById("autopilot-vertical-hold-var").value >= -10000 && document.getElementById("autopilot-vertical-hold-var").value != "") {triggerSimEventFromField ("AP_VS_VAR_SET_ENGLISH", "autopilot-vertical-hold-var", "Setting AP VS");$("#autopilot-vertical-hold-var").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP airspeed in knots" id="AP_vs_set">Set</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td colspan="2">
										<button type="button" onclick="triggerSimEvent ('AP_VS_VAR_DEC', 1, true); $(this).blur()" class="btn btn-secondary btn-sm" title="Decrease AP verical speed" style="margin-left:3px;margin-right:-3px;width:105px">- VS</button>
										<button type="button" onclick="triggerSimEvent ('AP_VS_VAR_INC', 1, true); $(this).blur()" class="btn btn-secondary btn-sm" title="Increase AP verical speed" style="margin-left:3px;width:105px">+ VS</button>
									</td>
								</tr>
								<tr>
									<td>FLC (kts)</td>
									<td><button onclick="triggerSimEvent('FLIGHT_LEVEL_CHANGE');if (autopilot_airspeed_hold_var == 0 && autopilot_airspeed_hold == 0) {triggerSimEvent ('AP_SPD_VAR_SET', airspeed_indicated, true)}; $(this).blur();" id="autopilot-airspeed-hold" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
									<td>
										<div class="input-group sim-input-field" style="width:150px">
											<input id="autopilot-airspeed-hold-var" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('AP_spd_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button onclick='if (document.getElementById("autopilot-airspeed-hold-var").value <= 3000 && document.getElementById("autopilot-airspeed-hold-var").value >= 0 && document.getElementById("autopilot-airspeed-hold-var").value != "") {triggerSimEventFromField ("AP_SPD_VAR_SET", "autopilot-airspeed-hold-var", "Setting AP VS");$("#autopilot-airspeed-hold-var").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP airspeed in knots" id="AP_spd_set">Set</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>Auto-throttle</td>
									<td><button onclick="triggerSimEvent('AUTO_THROTTLE_ARM');$(this).blur();" id="autopilot-autothrottle" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
									<td></td>
								</tr>
								<tr>
									<td>Back-course</td>
									<td><button onclick="triggerSimEvent('AP_BC_HOLD');$(this).blur();" id="autopilot-backcourse-hold" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
									<td></td>
								</tr>
								<tr>
									<td>Approach</td>
									<td><button onclick="triggerSimEvent('AP_APR_HOLD');$(this).blur();" id="autopilot-approach-hold" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
									<td></td>
								</tr>
							</table>
							<br>
							
							<!-- AP Sources-->
							<div class="lead">AP Sources</div>
							<button type="button" onclick="triggerSimEvent ('TOGGLE_GPS_DRIVES_NAV1', 0, true); $(this).blur();" class="btn btn-secondary" style="width:180px" title="Toggle between GPS and NAV 1 driving NAV 1 OBS display (and AP)">Toggle GPS/NAV</button>
							<br>
							<button type="button" onclick="triggerSimEvent ('AP_NAV_SELECT_SET', 1, true);$(this).blur();" class="btn btn-secondary btn-sm" style="width:88px" title="Set NAV1 for CDI/AP">NAV1</button>
							<button type="button" onclick="triggerSimEvent ('AP_NAV_SELECT_SET', 2, true);$(this).blur();" class="btn btn-secondary btn-sm" style="width:88px" title="Set NAV2 for CDI/AP">NAV2</button>
							
						</div>
					
						<!-- A320 AP Controls -->
						<div id="a320AP">
						
							<div class="lead">A320 AP Controls</div>
							
							<p style="margin-top:16px;margin-bottom:4px">Airspeed (kts)</p>
							<table>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent ('SPEED_SLOT_INDEX_SET', 2, true); $(this).blur();" class="btn btn-secondary" style="width:130px;padding-left:0px;padding-right:0px" title="Select Managed Airspeed Mode">Managed SPD</button>
									</td>
									<td>
									<div class="input-group sim-input-field" style="width:150px">
										<input id="a320-airspeed-hold-var" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('a320_spd_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button onclick='if (document.getElementById("a320-airspeed-hold-var").value <= 3000 && document.getElementById("a320-airspeed-hold-var").value >= 0 && document.getElementById("a320-airspeed-hold-var").value != "") {triggerSimEventFromField ("AP_SPD_VAR_SET", "a320-airspeed-hold-var", "Setting AP VS");triggerSimEvent ("SPEED_SLOT_INDEX_SET", 1, true);$("#a320-airspeed-hold-var").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP airspeed in knots" id="a320_spd_set">Set</button>
										</div>
									</div>
									</td>
								</tr>
							</table>
							
							<p style="margin-top:16px;margin-bottom:4px">Heading (deg)</p>
							<table>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent ('HEADING_SLOT_INDEX_SET', 2, true); $(this).blur();" class="btn btn-secondary" style="width:130px;padding-left:0px;padding-right:0px" title="Select Managed Heading Mode">Managed HDG</button>
									</td>
									<td>
									<div class="input-group sim-input-field" style="width:150px">
										<input id="a320-heading-lock-dir" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('a320_hdg_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button onclick='if (document.getElementById("a320-heading-lock-dir").value <= 360 && document.getElementById("a320-heading-lock-dir").value >= 0 && document.getElementById("a320-heading-lock-dir").value != "") {triggerSimEventFromField ("HEADING_BUG_SET", "a320-heading-lock-dir", "Setting Heading Bug");triggerSimEvent ("HEADING_SLOT_INDEX_SET", 1, true);$("#a320-heading-lock-dir").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP heading in degrees" id="a320_hdg_set">Set</button>
										</div>
									</div>
									</td>
								</tr>
							</table>
							
							<p style="margin-top:16px;margin-bottom:4px">Altitude (fts)</p>
							<table>
								<tr>
									<td>
										<div class="input-group sim-input-field" style="width:282px">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Adjust ALT</span>
											</div>
											<input id="a320-altitude-lock-var" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('a320_alt_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button onclick='if (document.getElementById("a320-altitude-lock-var").value <= 100000 && document.getElementById("a320-altitude-lock-var").value >= 0 && document.getElementById("a320-altitude-lock-var").value != "") {triggerSimEventFromField ("AP_ALT_VAR_SET_ENGLISH", "a320-altitude-lock-var", "Setting AP ALT");triggerSimEvent ("FLIGHT_LEVEL_CHANGE_ON", 1, true);$("#a320-altitude-lock-var").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP altitude in feet" id="a320_alt_set">Set</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent ('ALTITUDE_SLOT_INDEX_SET', 2, true); $(this).blur();" class="btn btn-secondary" style="width:139px;padding-left:0px;padding-right:0px" title="Engage Managed Altitude Mode">Managed ALT</button>
										<button type="button" onclick="triggerSimEvent ('ALTITUDE_SLOT_INDEX_SET', 1, true); $(this).blur();" class="btn btn-secondary" style="width:139px;padding-left:0px;padding-right:0px" title="Engage Selected Altitude Mode">Selected ALT</button>
									</td>
								</tr>
							</table>
							
							<p style="margin-top:16px;margin-bottom:4px">Vertical Speed (fpm)</p>
							<table>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent ('AP_VS_VAR_SET_ENGLISH', 0, true);triggerSimEvent ('AP_PANEL_VS_ON', 1, true);$(this).blur();" class="btn btn-secondary" style="width:130px;padding-left:0px;padding-right:0px" title="Select Managed Altitude Mode">Level off</button>
									</td>
									<td>
									<div class="input-group sim-input-field" style="width:150px">
										<input id="a320-vertical-hold-var" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('a320_vs_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button onclick='if (document.getElementById("a320-vertical-hold-var").value <= 10000 && document.getElementById("a320-vertical-hold-var").value >= -10000 && document.getElementById("a320-vertical-hold-var").value != "") {triggerSimEventFromField ("AP_VS_VAR_SET_ENGLISH", "a320-vertical-hold-var", "Setting AP VS");triggerSimEvent ("AP_PANEL_VS_ON", 1, true);$("#a320-vertical-hold-var").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP airspeed in knots" id="a320_vs_set">Set</button>
										</div>
									</div>
									</td>
								</tr>
							</table>
							
							<table style="vertical-align: middle;text-align: left;margin-top:24px">
								<tr>
									<td width="120">LOC Mode</td>
									<td width="70"><button onclick="triggerSimEvent('AP_LOC_HOLD');$(this).blur();" id="a320-loc-ap" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
								</tr>
								<tr>
									<td width="120">Auto-throttle</td>
									<td width="70"><button onclick="triggerSimEvent('AUTO_THROTTLE_ARM');$(this).blur();" id="a320-autothrottle" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
								</tr>
								<tr>
									<td width="120">APPR Mode</td>
									<td width="70"><button onclick="triggerSimEvent('AP_APR_HOLD');$(this).blur();" id="a320-appr-ap" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
								</tr>
							</table>
							
						</div>
					
					</div>
				</div>
				
			
			
			</div>
		</div>
	</div>