	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapseap_jf_arrow" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- Main AP Engage -->
					<div class="col" style="margin-top:20px">
						<div class="lead" style="margin-bottom:-15px">AP Master</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('AP_MASTER');$(this).blur();" id="autopilot-master" type="button" class="btn mt-3 btn-block btn-danger btn-lg">?</button>
							<hr class="bg-secondary" style="margin-bottom:5px">
						</div>
						</div>
					</div>
				</div>
				
				<!-- Second Row-->
				<div class="row" style="margin-top:-23px">
					<!-- AP Controls -->
					<div class="col" style="margin-top:20px; margin-bottom:0px; max-width:410px; min-width:332px">
						<div class="lead">AP Roll Settings</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_ROLL_30L',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_roll_l30" style="width:50px;padding-left:0px;padding-right:0px;text-align:center">L30°</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_ROLL_20L',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_roll_l20" style="width:50px;padding-left:0px;padding-right:0px;text-align:center">L20°</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_ROLL_10L',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_roll_l10" style="width:50px;padding-left:0px;padding-right:0px;text-align:center">L10°</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_ROLL_0',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_roll_off" style="width:50px;padding-left:0px;padding-right:0px;text-align:center">OFF</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_ROLL_10R',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_roll_r10" style="width:50px;padding-left:0px;padding-right:0px;text-align:center">R10°</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_ROLL_20R',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_roll_r20" style="width:50px;padding-left:0px;padding-right:0px;text-align:center">R20°</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_ROLL_30R',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_roll_r30" style="width:50px;padding-left:0px;padding-right:0px;text-align:center">R30°</button>
						</div>
						</div>
						
						<div class="lead">AP Heading</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<table>
								<tr>
									<td style="width:130px">Heading switch:</td>
									<td>
										<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_HDG_Toggle',0,false);$(this).blur();" id="jf_pa28_ap_hdg" type="button" class="btn btn-danger" style="width:55px">?</button>
									</td>
								</tr>
								<tr>
									<td>Heading set:</td>
									<td>
										<div class="input-group sim-input-field" style="width:185px">
										<input id="autopilot-heading-lock-dir" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('AP_hdg_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button onclick='if (document.getElementById("autopilot-heading-lock-dir").value <= 360 && document.getElementById("autopilot-heading-lock-dir").value >= 0 && document.getElementById("autopilot-heading-lock-dir").value != "") {triggerSimEventFromField ("HEADING_BUG_SET", "autopilot-heading-lock-dir");$("#autopilot-heading-lock-dir").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP heading in degrees" id="AP_hdg_set">Set</button>
										</div>
										</div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
										<button type="button" onclick="triggerSimEventFromVar ('HEADING_BUG_SET', plane_heading_degrees, 'Setting current HDG');$(this).blur();" class="btn btn-secondary btn-sm" title="Sync HDG with current HDG" style="width:186px">Sync with current HDG</button><br>
										<button type="button" onpointerdown="presshold(function(){ triggerSimEvent('HEADING_BUG_DEC',0,true) }, 400, 0.6, 80);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" class="btn btn-secondary" style="width:91px">-1°</button>
										<button type="button" onpointerdown="presshold(function(){ triggerSimEvent('HEADING_BUG_INC',0,true) }, 400, 0.6, 80);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" class="btn btn-secondary" style="width:90px">+1°</button>
									</td>
								</tr>
							</table>
						</div>
						</div>
						
						<div class="lead">AP Radio Coupler</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_MODE_NAV',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_mode_nav" style="width:60px;padding-left:0px;padding-right:0px;text-align:center">NAV</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_MODE_OMNI',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_mode_omni" style="width:60px;padding-left:0px;padding-right:0px;text-align:center">OMNI</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_MODE_HDG',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_mode_hdg" style="width:60px;padding-left:0px;padding-right:0px;text-align:center">HDG</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_MODE_LOCNOMR',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_mode_locn" style="width:60px;padding-left:0px;padding-right:0px;text-align:center">LOC-N</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_MODE_LOCREV',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_mode_locr" style="width:60px;padding-left:0px;padding-right:0px;text-align:center">LOC-R</button>
							
						</div>
						</div>
						
						<div class="lead">AP NAV Source</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_SOURCE_NAV1',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_nav1" style="width:60px;padding-left:0px;padding-right:0px;text-align:center">NAV1</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_SOURCE_OFF',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_off" style="width:60px;padding-left:0px;padding-right:0px;text-align:center">OFF</button>
							<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_AUTOPILOT_SOURCE_NAV2',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_ap_nav2" style="width:60px;padding-left:0px;padding-right:0px;text-align:center">NAV2</button><br>
							<button type="button" onclick="triggerSimEvent ('MobiFlight.JF_ARROW_NAVGPS', 0, true); $(this).blur();" class="btn btn-secondary btn-sm" style="width:189px" title="Toggle between GPS and NAV 1 driving NAV 1 OBS display (and AP)">Toggle GPS/NAV</button>
						</div>
						</div>
						
						<div class="lead">AP Altitude Hold</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<table>
								<tr>
									<td style="width:130px">Toggle ALT hold:</td>
									<td>
										<button onclick="triggerSimEvent('AP_ALT_HOLD',0,false);$(this).blur();" id="autopilot-altitude-lock" type="button" class="btn btn-danger" style="width:55px">?</button>
									</td>
								</tr>
							</table>
						</div>
						</div>
					</div>
					
				</div>
			
			</div>
		</div>
	</div>