	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapsepanel_aso_ju52c" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- Lights -->
					<div class="col" style="margin-top:20px; max-width:270px; min-width:270px;">
						<div class="lead">Lights</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('ALL_LIGHTS_TOGGLE',0,true);$(this).blur();" id="light-all" type="button" class="btn btn-warning" style="width:245px">Toggle All Lights</button><br>
							<table style="width:245px">
								<tr>
									<td width="190">Landing Lights</td>
									<td><button onclick="triggerSimEvent('LANDING_LIGHTS_TOGGLE',0,true);$(this).blur();" id="light-landing" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Taxi Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_TAXI_LIGHTS',0,true);$(this).blur();" id="light-taxi" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>NAV Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_NAV_LIGHTS',0,true);$(this).blur();" id="light-nav" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Strobe Lights</td>
									<td><button onclick="triggerSimEvent('STROBES_TOGGLE',0,true);$(this).blur();" id="light-strobe" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Anti Collision Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_BEACON_LIGHTS',0,true);$(this).blur();" id="light-beacon" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Wing Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_WING_LIGHTS',0,true);$(this).blur();" id="light-wings" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Cabin Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_CABIN_LIGHTS',0,true);$(this).blur();" id="light-cabin" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Panel Lights</td>
									<td><button onclick="triggerSimEvent('PANEL_LIGHTS_TOGGLE',0,true);$(this).blur();" id="light-panel" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
							</table>
						</div>
						</div>
					</div>

					<!-- Pitot & Deicing -->
					<div class="col" style="margin-top:20px; max-width:270px; min-width:270px;">
						<div class="lead">Deice</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col">
								<button onclick="triggerSimEvent('TOGGLE_STRUCTURAL_DEICE',0,true);$(this).blur();" id="ASU_JU52C_ENTEISER" type="button" class="btn btn-danger" style="width:244px">Enteiser</button>
							</div>
						</div>
						<div class="lead">Pitot & Carburetor Heat</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col">
								<button onclick="triggerSimEvent('MobiFlight.ASO_JU52C_PITOT_0',0,true);$(this).blur();" id="ASO_JU52C_PITOT_0" type="button" class="btn btn-secondary" style="width:51px;padding-left:0px;padding-right:0px">Off</button>
								<button onclick="triggerSimEvent('MobiFlight.ASO_JU52C_PITOT_1',0,true);$(this).blur();" id="ASO_JU52C_PITOT_1" type="button" class="btn btn-secondary" style="width:90px;padding-left:0px;padding-right:0px">Staurohr</button>
								<button onclick="triggerSimEvent('MobiFlight.ASO_JU52C_PITOT_2',0,true);$(this).blur();" id="ASO_JU52C_PITOT_2" type="button" class="btn btn-secondary" style="width:90px;padding-left:0px;padding-right:0px;margin-right:0px">Vergaser</button>
							</div>
						</div>
					</div>
				
				</div>

			</div>
		</div>
	</div>