	<div class="collapse" id="collapseOther" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					<!-- Ladning Details -->
					<div class="col" style="margin-top:20px">
						<div class="lead" style="margin-bottom:10px">Landing VS Details</div>
						<p style="margin-bottom:0px">Landing 1: <span id="landing-vs1">N/A</span> fpm (<span id="landing-t1">N/A</span>)</p>
						<p style="margin-bottom:0px">Landing 2: <span id="landing-vs2">N/A</span> fpm (<span id="landing-t2">N/A</span>)</p>
						<p>Landing 3: <span id="landing-vs3">N/A</span> fpm (<span id="landing-t3">N/A</span>)</p>
						<p class="font-italic text-secondary" style="margin-bottom:0px">MSFS Mobile Companion App stores the last 3 vertical speeds at touchdown including touchdown bounces.</p>
					</div>
				</div>

				<hr class="bg-secondary">

				<!-- Second Row-->
				<div class="row">
					<!-- Ladning Details -->
					<div class="col" style="margin-top:0px">
						<div class="lead" style="margin-bottom:10px">Simulation Rate</div>
						<p style="margin-bottom:5px">Current simlation rate : <span id="sim-rate">N/A</span>x</p>
						<button type="button" onclick="triggerSimEvent ('SIM_RATE_DECR', 0, true); $(this).blur();" class="btn btn-secondary" style="width:42px" title="Decrease sim rate.">-</button>
						<button type="button" onclick="triggerSimEvent ('PAUSE_OFF', 1, true); $(this).blur();" class="btn btn-secondary" style="width:42px" title="Active pause off."><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/></svg></button>
						<button type="button" onclick="triggerSimEvent ('PAUSE_ON', 1, true); $(this).blur();" class="btn btn-secondary" style="width:42px" title="Active pause On."><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pause" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/></svg></button>
						<button type="button" onclick="triggerSimEvent ('SIM_RATE_INCR', 0, true); $(this).blur();" class="btn btn-secondary" style="width:42px" title="Increase sim rate.">+</button>
					</div>
				</div>
				
				<hr class="bg-secondary">

				<!-- Third Row-->
				<div class="row">
					<!-- Display Mode -->
					<div class="col" style="margin-top:0px">
						<div class="lead" style="margin-bottom:10px">Display Mode</div>
						<table>
							<tr>
								<td style="width:100px">
									<p style="margin-bottom:3px">Portrait</p>
									<p><a href="/"><img src="/static/img/mode_portrait.png" alt="Portrait mode" style="height:80px;width:auto"></a></p>
								</td>
								<td>
									<p style="margin-bottom:3px">Landscape</p>
									<p><a href="/landscape"><img src="/static/img/mode_landscape.png" alt="Landscape mode" style="height:80px;width:auto"></a></p>
								</td>
							</tr>
						</table>
						<p class="font-italic text-secondary" style="margin-bottom:0px">You will lose your existing GPS track line when switching between display modes.</p>
					</div>
				</div>
				
				<hr class="bg-secondary">

				<!-- Last Row Information -->
				<div class="row" style="margin-top:15px">
					<div class="col">
						<p class="font-italic text-secondary" style="margin-bottom:0px">MSFS Mobile Companion App v1.5 by <a href="https://www.caronstudios.net" target="_blank" class="text-light">Caron&nbsp;Studios&nbsp;s.r.o.</a></p>
						<p class="font-italic text-secondary" style="margin-bottom:0px">Follow the development on <a href="https://github.com/mracko/MSFS-Mobile-Companion-App" target="_blank" class="text-light">GitHub</a>.</p>
						<p class="font-italic text-secondary">Support the development by donating below:</p>
						<p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CXDDYFUSWA2Z4&source=url" target="_blank"><img src="/static/img/donate_paypal.png" alt="Donate here"></a></p>
					</div>
				</div>
				

			</div>
		</div>
	</div>