	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapseefis_a32nx_stable" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- EFIS Control Panel -->
					<div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
						<div class="lead" style="margin-bottom:4px">EFIS Control Panel</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							
							<button onclick="triggerSimEvent('MobiFlight.A320_Neo_MFD_BTN_CSTR_1',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-cstr" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">CSTR</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_Neo_MFD_BTN_VORD_1',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-vord" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">VOR.D</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_Neo_MFD_BTN_WPT_1',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-wpt" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">WPT</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_Neo_MFD_BTN_NDB_1',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-ndb" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">NDB</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_Neo_MFD_BTN_ARPT_1',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-arpt" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">ARPT</button>
							
							<p style="margin-top:16px;margin-bottom:4px">Mode Selector</p>
							<button onclick="triggerSimEvent('MobiFlight.A320_Neo_MFD_NAV_MODE_1_LS',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-ls" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">LS</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_Neo_MFD_NAV_MODE_1_VOR',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-vor" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">VOR</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_Neo_MFD_NAV_MODE_1_NAV',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-nav" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">NAV</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_Neo_MFD_NAV_MODE_1_ARC',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-arc" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">ARC</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_Neo_MFD_NAV_MODE_1_PLAN',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-plan" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PLAN</button>
							
							<p style="margin-top:16px;margin-bottom:4px">Range Selector</p>
							<button onclick="triggerSimEvent('MobiFlight.A320_neo_MFD_Range_1_10',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-10" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">10</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_neo_MFD_Range_1_20',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-20" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">20</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_neo_MFD_Range_1_40',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-40" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">40</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_neo_MFD_Range_1_80',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-80" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">80</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_neo_MFD_Range_1_160',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-160" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">160</button>
							<button onclick="triggerSimEvent('MobiFlight.A320_neo_MFD_Range_1_320',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-320" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">320</button>
							
							<table style="margin-top:16px">
								<tr>
									<td style="width:113px">VOR/ADF 1:</td>
									<td>
										<button onclick="triggerSimEvent('MobiFlight.XMLVAR_NAV_AID_SWITCH_L1_State_ADF',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-l1-adf" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">ADF</button>
										<button onclick="triggerSimEvent('MobiFlight.XMLVAR_NAV_AID_SWITCH_L1_State_Off',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-l1-off" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">OFF</button>
										<button onclick="triggerSimEvent('MobiFlight.XMLVAR_NAV_AID_SWITCH_L1_State_VOR',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-l1-vor" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">VOR</button>
									</td>
								</tr>
								<tr>
									<td>VOR/ADF 2:</td>
									<td>
										<button onclick="triggerSimEvent('MobiFlight.XMLVAR_NAV_AID_SWITCH_L2_State_ADF',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-l2-adf" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">ADF</button>
										<button onclick="triggerSimEvent('MobiFlight.XMLVAR_NAV_AID_SWITCH_L2_State_Off',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-l2-off" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">OFF</button>
										<button onclick="triggerSimEvent('MobiFlight.XMLVAR_NAV_AID_SWITCH_L2_State_VOR',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="FBW_A32NX-l2-vor" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">VOR</button>
									</td>
								</tr>
							</table>
							
							<table style="margin-top:16px">
								<tr>
									<td style="width:58px">FD:</td>
									<td>
										<button onclick="triggerSimEvent('TOGGLE_FLIGHT_DIRECTOR',0,true);$(this).blur();" type="button" class="btn btn-danger" style="width:79px;padding-left:0px;padding-right:0px;text-align:center" id="FBW_A32NX-fd">ON/OFF</button>
									</td>
								</tr>
								<tr>
									<td>ILS:</td>
									<td>
										<button onclick="triggerSimEvent('MobiFlight.A320_Neo_PFD_BTN_LS_1',0,true);$(this).blur();" type="button" class="btn btn-danger" style="width:79px;padding-left:0px;padding-right:0px;text-align:center" id="FBW_A32NX-ils">ON/OFF</button>
									</td>
								</tr>
							</table>
							
							<table style="margin-top:16px">
								<tr>
									<td style="width:58px">BARO:</td>
									<td>
										<button onpointerdown="presshold(function(){ triggerSimEvent('KOHLSMAN_DEC',0,true) }, 400, 0.6, 90);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" type="button" class="btn btn-secondary" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">-</button>
										<button onpointerdown="presshold(function(){ triggerSimEvent('KOHLSMAN_INC',0,true) }, 400, 0.6, 90);" onpointerup="releasehold();$(this).blur();" onpointerout="releasehold();$(this).blur();" type="button" class="btn btn-secondary" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">+</button>
										<button onclick="triggerSimEvent('MobiFlight.XMLVAR_Baro1_Mode_QFE',0,true);$(this).blur();" type="button" class="btn btn-warning" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">QFE</button>
										<button onclick="triggerSimEvent('MobiFlight.XMLVAR_Baro1_Mode_QNH',0,true);$(this).blur();" type="button" class="btn btn-warning" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">QNH</button>
										<button onclick="triggerSimEvent('MobiFlight.XMLVAR_Baro1_Mode_STD',0,true);$(this).blur();" type="button" class="btn btn-warning" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">STD</button>
									</td>
								</tr>
							</table>
						</div>
						</div>
					</div>
				
				
				
				</div>

			
			</div>
		</div>
	</div>