	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapseflt_dir_ife_mb339" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- Side Panel -->
					<div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
						<div class="lead">FLT DIR</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('MobiFlight.IFE_MB339_HDG',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:120px">HDG</button>
							<button onclick="triggerSimEvent('MobiFlight.IFE_MB339_RADIO_NAV',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:120px">RADIO NAV</button></br>
							<button onclick="triggerSimEvent('MobiFlight.IFE_MB339_GSARM',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:120px">G S ARM</button>
							<button onclick="triggerSimEvent('MobiFlight.IFE_MB339_FLT_DIR_GS',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:120px">G S</button></br>
							<button onclick="triggerSimEvent('MobiFlight.IFE_MB339_FLT_DIR_STBY',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:120px">STBY</button>
							<button onclick="triggerSimEvent('MobiFlight.IFE_MB339_FLT_DIR_ALT_HOLD',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:120px">ALT HOLD</button></br>
						</div>
						</div>
						
					</div>
				
				</div>

			</div>
		</div>
	</div>