	<div class="collapse" id="collapseData" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					<!-- Flight Data -->
					<div class="col" style="margin-top:20px">
						<div class="lead" style="margin-bottom:10px">Current Flight Data</div>
						<p style="margin-bottom:0px">Indicated airspeed: <span id="cur_ias">N/A</span> kts</p>
						<p style="margin-bottom:0px">Indicated altitude: <span id="cur_alt">N/A</span> fts</p>
						<p>Magnetic heading: <span id="cur_hdg">N/A</span> deg</p>
					</div>
				</div>

				<hr class="bg-secondary">
				
				<div class="row" style="margin-top:-23px">
					<!-- Ladning Details -->
					<div class="col" style="margin-top:20px">
						<div class="lead" style="margin-bottom:10px">Touchdown Vertical Speed</div>
						<p style="margin-bottom:0px">Landing 1: <span id="landing-vs1">N/A</span> fpm (<span id="landing-t1">N/A</span>)</p>
						<p style="margin-bottom:0px">Landing 2: <span id="landing-vs2">N/A</span> fpm (<span id="landing-t2">N/A</span>)</p>
						<p>Landing 3: <span id="landing-vs3">N/A</span> fpm (<span id="landing-t3">N/A</span>)</p>
						<p class="font-italic text-secondary" style="margin-bottom:0px">MSFS Mobile Companion App stores the last 3 vertical speeds at touchdown including touchdown bounces.</p>
					</div>
				</div>		

			</div>
		</div>
	</div>