	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapseap_a32nx" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- Main AP Engage -->
					<div class="col" style="margin-top:20px">
						<div class="lead" style="margin-bottom:-15px">AP Master</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('AP_MASTER');$(this).blur();" id="autopilot-master" type="button" class="btn mt-3 btn-block btn-danger btn-lg">?</button>
							<hr class="bg-secondary" style="margin-bottom:5px">
						</div>
						</div>
					</div>
				</div>
				
				<!-- Second Row-->
				<div class="row" style="margin-top:-23px">
					<!-- AP Controls -->
					<div class="col" style="margin-top:20px; margin-bottom:0px; max-width:400px; min-width:332px">
						<div class="lead">AP Controls</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<p style="margin-top:16px;margin-bottom:4px">Airspeed (kts)</p>
							<table>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent ('SPEED_SLOT_INDEX_SET', 2, true); $(this).blur();" class="btn btn-secondary" style="width:130px;padding-left:0px;padding-right:0px" title="Select Managed Airspeed Mode">Managed SPD</button>
									</td>
									<td>
									<div class="input-group sim-input-field" style="width:150px">
										<input id="a320-airspeed-hold-var" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('a320_spd_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button onclick='if (document.getElementById("a320-airspeed-hold-var").value <= 3000 && document.getElementById("a320-airspeed-hold-var").value >= 0 && document.getElementById("a320-airspeed-hold-var").value != "") {triggerSimEventFromField ("AP_SPD_VAR_SET", "a320-airspeed-hold-var", "Setting AP VS");triggerSimEvent ("SPEED_SLOT_INDEX_SET", 1, true);$("#a320-airspeed-hold-var").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP airspeed in knots" id="a320_spd_set">Set</button>
										</div>
									</div>
									</td>
								</tr>
							</table>
							
							<p style="margin-top:16px;margin-bottom:4px">Heading (deg)</p>
							<table>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent ('HEADING_SLOT_INDEX_SET', 2, true); $(this).blur();" class="btn btn-secondary" style="width:130px;padding-left:0px;padding-right:0px" title="Select Managed Heading Mode">Managed HDG</button>
									</td>
									<td>
									<div class="input-group sim-input-field" style="width:150px">
										<input id="a320-heading-lock-dir" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('a320_hdg_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button onclick='if (document.getElementById("a320-heading-lock-dir").value <= 360 && document.getElementById("a320-heading-lock-dir").value >= 0 && document.getElementById("a320-heading-lock-dir").value != "") {triggerSimEventFromField ("HEADING_BUG_SET", "a320-heading-lock-dir", "Setting Heading Bug");triggerSimEvent ("HEADING_SLOT_INDEX_SET", 1, true);$("#a320-heading-lock-dir").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP heading in degrees" id="a320_hdg_set">Set</button>
										</div>
									</div>
									</td>
								</tr>
							</table>
							
							<p style="margin-top:16px;margin-bottom:4px">Altitude (fts)</p>
							<table>
								<tr>
									<td>
										<div class="input-group sim-input-field" style="width:282px">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1">Adjust ALT</span>
											</div>
											<input id="a320-altitude-lock-var" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('a320_alt_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button onclick='if (document.getElementById("a320-altitude-lock-var").value <= 100000 && document.getElementById("a320-altitude-lock-var").value >= 0 && document.getElementById("a320-altitude-lock-var").value != "") {triggerSimEventFromField ("AP_ALT_VAR_SET_ENGLISH", "a320-altitude-lock-var", "Setting AP ALT");triggerSimEvent ("FLIGHT_LEVEL_CHANGE_ON", 1, true);$("#a320-altitude-lock-var").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;width:70px;" title="Set AP altitude in feet" id="a320_alt_set">Set</button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent ('ALTITUDE_SLOT_INDEX_SET', 2, true); $(this).blur();" class="btn btn-secondary" style="width:139px;padding-left:0px;padding-right:0px" title="Engage Managed Altitude Mode">Managed ALT</button>
										<button type="button" onclick="triggerSimEvent ('ALTITUDE_SLOT_INDEX_SET', 1, true); $(this).blur();" class="btn btn-secondary" style="width:139px;padding-left:0px;padding-right:0px" title="Engage Selected Altitude Mode">Selected ALT</button>
									</td>
								</tr>
							</table>
							
							<p style="margin-top:16px;margin-bottom:4px">Vertical Speed (fpm)</p>
							<table>
								<tr>
									<td>
										<button type="button" onclick="triggerSimEvent ('AP_VS_VAR_SET_ENGLISH', 0, true);triggerSimEvent ('AP_PANEL_VS_ON', 1, true);$(this).blur();" class="btn btn-secondary" style="width:100px;padding-left:0px;padding-right:0px;margin-right:2px" title="Select Managed Altitude Mode">Level off</button>
									</td>
									<td>
									<div class="input-group sim-input-field" style="width:178px">
										<div class="input-group-prepend">
											<button onclick='document.getElementById("a320-vertical-hold-var").value = document.getElementById("a320-vertical-hold-var").value * (-1); $(this).blur();' class="btn btn-secondary" type="button" style="margin-top:0px;margin-bottom:0px;padding:0px;width:50px;" title="Set positive/negative value" id="AP_A320_vs_pos_neg">+/-</button>
										</div>
										<input id="a320-vertical-hold-var" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('a320_vs_set').click()" inputmode="numeric" pattern="[0-9]*" class="form-control" placeholder="?" aria-describedby="basic-addon2" style = "padding-left:10px;padding-right:0px">
										<div class="input-group-append">
											<button onclick='if (document.getElementById("a320-vertical-hold-var").value <= 10000 && document.getElementById("a320-vertical-hold-var").value >= -10000 && document.getElementById("a320-vertical-hold-var").value != "") {triggerSimEventFromField ("AP_VS_VAR_SET_ENGLISH", "a320-vertical-hold-var", "Setting AP VS");triggerSimEvent ("AP_PANEL_VS_ON", 1, true);$("#a320-vertical-hold-var").val("");}; $(this).blur();' class="btn btn-warning" type="button" style="margin-top:0px;margin-bottom:0px;padding:0px;width:50px;" title="Set AP airspeed in knots" id="a320_vs_set">Set</button>
										</div>
									</div>
									</td>
								</tr>
							</table>
							
							<table style="vertical-align: middle;text-align: left;margin-top:24px">
								<tr>
									<td width="120">LOC Mode:</td>
									<td width="70"><button onclick="triggerSimEvent('MobiFlight.A32NX_AUTOPILOT_LOC_MODE_toggle',0,false);$(this).blur();" id="a320-loc-ap" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
								</tr>
								<tr>
									<td width="120">Auto-throttle:</td>
									<td width="70"><button onclick="triggerSimEvent('AUTO_THROTTLE_ARM');$(this).blur();" id="a320-autothrottle" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
								</tr>
								<tr>
									<td width="120">APPR Mode:</td>
									<td width="70"><button onclick="triggerSimEvent('MobiFlight.A32NX_AUTOPILOT_APPR_MODE_toggle',0,false);$(this).blur();" id="a320-appr-ap" type="button" class="btn m-1 btn-danger" style="width: 55px">?</button></td>
								</tr>
							</table>

						</div>
						</div>
					</div>
					
				</div>
			
			</div>
		</div>
	</div>