	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapseafe_pmdg_dc6" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- AFE -->
					<div class="col" style="margin-top:20px">
						<div class="lead">Artificial Flight Engineer</div>
						
						<!-- Default AFE Table -->
						<table style="border-collapse:separate; border-spacing:0 5px; vertical-align: middle; text-align: left">
							<tr>
								<td width="135">Before Start</td>
								<td width="66"><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_BEFORE_START',0,true);$(this).blur();" id="pmdg-dc6-afe-before-start" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
							<tr>
								<td>After Start</td>
								<td><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_AFTER_START',0,true);$(this).blur();" id="pmdg-dc6-afe-after-start" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
							<tr>
								<td>Before Takeoff</td>
								<td><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_BEFORE_TAKEOFF',0,true);$(this).blur();" id="pmdg-dc6-afe-before-takeoff" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
							<tr>
								<td>Takeoff (Dry)</td>
								<td><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_TAKEOFF_DRY',0,true);$(this).blur();" id="pmdg-dc6-afe-takeoff-dry" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
							<tr>
								<td>Takeoff (Wet)</td>
								<td><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_TAKEOFF_WET',0,true);$(this).blur();" id="pmdg-dc6-afe-takeoff-wet" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
							<tr>
								<td>Cruise</td>
								<td><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_CRUISE',0,true);$(this).blur();" id="pmdg-dc6-afe-cruise" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
							<tr>
								<td>Decent</td>
								<td><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_DESCENT',0,true);$(this).blur();" id="pmdg-dc6-afe-descent" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
							<tr>
								<td>In Range</td>
								<td><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_INRANGE',0,true);$(this).blur();" id="pmdg-dc6-afe-in-range" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
							<tr>
								<td>Before Landing</td>
								<td><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_BEFORE_LANDING',0,true);$(this).blur();" id="pmdg-dc6-afe-before-landing" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
							<tr>
								<td>After Landing</td>
								<td><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_AFTER_LANDING',0,true);$(this).blur();" id="pmdg-dc6-afe-after-landing" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
							<tr>
								<td>Parking</td>
								<td><button onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_PARKING',0,true);$(this).blur();" id="pmdg-dc6-afe-parking" type="button" class="btn btn-danger" style="width:62px">?</button></td>
							</tr>
						</table>
						
						<button type="button" onclick="triggerSimEvent('MobiFlight.PMDG_DC6_AFE_ABORT',0,true);$(this).blur();" class="btn btn-warning" style="width:198px">Abort</button>
											
					</div>
				</div>
				
			</div>
		</div>
	</div>