	<!-- NAV-->
	<div class="collapse" id="collapseRadio" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px; margin-bottom:12px;">
			<div class="card-body">
				
				<!-- Switch Frequency Swap / Direct -->
				<div class="row" style="margin-top:-5px">
					<div class="col" style="max-width:134px">
						<table>
							<tr>
								<td><span class="badge badge-secondary">Active-Standby Swap</span></td>
								<td>
									<form>
										<div class="custom-control custom-switch" style="margin-top:3px;margin-right:-7px">
											<input type="checkbox" class="custom-control-input" id="NAVtypeswitch" onclick="$('#swapNAV, #directNAV').toggle();">
											<label class="custom-control-label" for="NAVtypeswitch"></label>
										</div>
									</form>
								</td>
								<td><span class="badge badge-secondary">Direct Input</span></td>
							</tr>
						</table>
					</div>
				</div>
				
				
				<!-- NAV Frequency Swap -->
				<div id="swapNAV">
				<div class="row" style="margin-top:-10px">
					
					<!-- NAV 1 -->
					<div class="col" style="margin-top:20px; max-width:332px; min-width:332px;">
						<div class="lead">NAV 1</div>					
						<!-- NAV 1 Frequency Swap Row-->
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<div class="btn-group" role="group" aria-label="NAV1 STBY">
								<button type="button" class="btn btn-light" style="width:50px; padding:0px" disabled>STBY</button>
								<button type="button" class="btn btn-secondary" style="background-color:#000000;width:80px;opacity:1" disabled><strong><span style="color:red" id="nav1_standby">?</span></strong></button>
							</div>
							<button onclick="triggerSimEvent ('NAV1_RADIO_SWAP', 0, true); $(this).blur(); nav1switch();" type="button" class="btn btn-secondary" title="Swap NAV1 Standby frequency" style="width:35px;height:37px;padding:0px;padding-bottom:1px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"></path></svg></button>
							<div class="btn-group" role="group" aria-label="NAV1 USE">
								<button type="button" class="btn btn-light" style="width:50px; padding:0px" disabled>USE</button>
								<button type="button" class="btn btn-secondary" style="background-color:#000000;width:80px;opacity:1" disabled><strong><span style="color:red" id="nav1_active">?</span></strong></button>
							</div>
						</div>
						</div>
						
						<!-- NAV 1 Tuner Row-->
						<div class="row align-items-center" style="margin-bottom:10px;margin-top:5px">
						<div class="col-auto" style="padding-right:5px">
							<button onclick="triggerSimEvent ('NAV1_RADIO_WHOLE_DEC', 1, true); $(this).blur(); nav1minus1()" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Decrease NAV1 frequency by 1 MHz" style="width:45px;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg></button>
							<button onclick="triggerSimEvent ('NAV1_RADIO_FRACT_DEC', 1, true); $(this).blur(); nav1minus005()" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Decrease NAV1 frequency by 25 kHz" style="width:45px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/></svg></button>
						</div>
						<div class="col" style="padding-left:0px;padding-right:0px;margin">
							<button type="button" class="btn btn-light btn-sm" style="width:100%" disabled>Tune NAV 1</button>
						</div>
						<div class="col-auto" style="padding-left:5px">
							<button onclick="triggerSimEvent ('NAV1_RADIO_FRACT_INC', 1, true); $(this).blur(); nav1plus005()" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Increase NAV1 frequency by 25 kHz" style="width:45px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/></svg></button>
							<button onclick="triggerSimEvent ('NAV1_RADIO_WHOLE_INC', 1, true); $(this).blur(); nav1plus1()" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Increase NAV1 frequency by 1 MHz" style="width:45px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></button>
						</div>
						</div>
						
						<!-- NAV 1 OBS Settings-->
						<div class="row">
						<div class="col">
							<div class="input-group" style="width:220px">
								<div class="input-group-prepend">
									<span class="input-group-text text-body" id="inputGroup-sizing-default" style="background-color:#B3B6B8; border-color:#B3B6B8">OBS 1 (Deg)</span>
								</div>
								<input class="form-control" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('OBS_1_Set').click()" inputmode="numeric" pattern="[0-9]*" id="OBS_1_heading" aria-label="OBS 1 Deg" aria-describedby="OBS_1_Deg" placeholder="-">
								<div class="input-group-append">
									<button onclick='if (document.getElementById("OBS_1_heading").value <= 360 && document.getElementById("OBS_1_heading").value >= 0 && document.getElementById("OBS_1_heading").value % 1 === 0 && document.getElementById("OBS_1_heading").value != "") {triggerSimEventFromField ("VOR1_SET", "OBS_1_heading", "Setting OBS 1");$("#OBS_1_heading").val("");}; $(this).blur();' class="btn btn-warning" type="button" id="OBS_1_Set" style="margin-top:0px;margin-bottom:0px;" title="Set OBS 1 heading in degrees">Set</button>
								</div>
							</div>
						</div>
						</div>		
					</div>
					
					
					<!-- NAV 2 -->
					<div class="col" style="margin-top:20px; max-width:332px; min-width:332px;">
						<div class="lead">NAV 2</div>	

						<!-- NAV 2 Frequency Swap Row-->
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<div class="btn-group" role="group" aria-label="NAV2 STBY">
								<button type="button" class="btn btn-light" style="width:50px; padding:0px" disabled>STBY</button>
								<button type="button" class="btn btn-secondary" style="background-color:#000000;width:80px;opacity:1" disabled><strong><span style="color:red" id="nav2_standby">?</span></strong></button>
							</div>
							<button onclick="triggerSimEvent ('NAV2_RADIO_SWAP', 0, true); $(this).blur(); nav2switch();" type="button" class="btn btn-secondary" title="Swap NAV2 Standby frequency" style="width:35px;height:37px;padding:0px;padding-bottom:1px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"></path></svg></button>
							<div class="btn-group" role="group" aria-label="NAV2 USE">
								<button type="button" class="btn btn-light" style="width:50px; padding:0px" disabled>USE</button>
								<button type="button" class="btn btn-secondary" style="background-color:#000000;width:80px;opacity:1" disabled><strong><span style="color:red" id="nav2_active">?</span></strong></button>
							</div>
						</div>
						</div>
						
						<!-- NAV 2 Tuner Row-->
						<div class="row align-items-center" style="margin-bottom:10px;margin-top:5px">
						<div class="col-auto" style="padding-right:5px">
							<button onclick="triggerSimEvent ('NAV2_RADIO_WHOLE_DEC', 1, true); $(this).blur(); nav2minus1()" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Decrease NAV2 frequency by 1 MHz" style="width:45px;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg></button>
							<button onclick="triggerSimEvent ('NAV2_RADIO_FRACT_DEC', 1, true); $(this).blur(); nav2minus005()" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Decrease NAV2 frequency by 25 kHz" style="width:45px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/></svg></button>
						</div>
						<div class="col" style="padding-left:0px;padding-right:0px;margin">	
							<button type="button" class="btn btn-light btn-sm" style="width:100%" disabled>Tune NAV 2</button>
						</div>
						<div class="col-auto" style="padding-left:5px">	
							<button onclick="triggerSimEvent ('NAV2_RADIO_FRACT_INC', 1, true); $(this).blur(); nav2plus005()" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Increase NAV2 frequency by 25 kHz" style="width:45px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/></svg></button>
							<button onclick="triggerSimEvent ('NAV2_RADIO_WHOLE_INC', 1, true); $(this).blur(); nav2plus1()" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Increase NAV2 frequency by 1 MHz" style="width:45px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></button>
						</div>
						</div>
						
						<!-- NAV 2 OBS Settings-->
						<div class="row">
						<div class="col">		
							<div class="input-group" style="width:220px">
								<div class="input-group-prepend">
									<span class="input-group-text text-body" id="inputGroup-sizing-default" style="background-color:#B3B6B8; border-color:#B3B6B8">OBS 2 (Deg)</span>
								</div>
								<input class="form-control" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('OBS_2_Set').click()" inputmode="numeric" pattern="[0-9]*" id="OBS_2_heading" aria-label="OBS 2 Deg" aria-describedby="OBS_2_Deg" placeholder="-">
								<div class="input-group-append">
									<button onclick='if (document.getElementById("OBS_2_heading").value <= 360 && document.getElementById("OBS_2_heading").value >= 0 && document.getElementById("OBS_2_heading").value % 1 === 0 && document.getElementById("OBS_2_heading").value != "") {triggerSimEventFromField ("VOR2_SET", "OBS_2_heading", "Setting OBS2");$("#OBS_2_heading").val("");}; $(this).blur();' class="btn btn-warning" type="button" id="OBS_2_Set" style="margin-top:0px;margin-bottom:0px;" title="Set OBS 2 heading in degrees">Set</button>
								</div>
							</div>
						</div>
						</div>
					</div>
					
					<!-- ADF -->
					<div class="col" style="margin-top:20px; max-width:332px; min-width:332px;">
						<div class="lead">ADF</div>	

						<div class="row align-items-center" style="margin-bottom:10px">
							<div class="col" style="min-width:188px;max-width:188px;">
							<div class="row">
							<!-- ADF Standby Tuner-->
							<div class="col" style="margin-left:15px">
								<div class="row">
								<button type="button" class="btn btn-secondary" style="width:40px;" disabled>&nbsp;</button>
								</div>
								<div class="row">
								<button type="button" class="btn btn-secondary" style="background-color:#000000;width:40px;opacity:1" disabled><strong><span style="color:red" id="adf_stby_1000">?</span></strong></button>
								</div>
								<div class="row">
								<button type="button" class="btn btn-secondary" style="width:40px;" disabled>&nbsp;</button>
								</div>
							</div>
							<div class="col" style="margin-left:4px">
								<div class="row">
								<button onclick="triggerSimEvent ('ADF_100_INC', 1, true); $(this).blur(); adfplus100();" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Increase ADF frequency by 100 kHz" style="width:40px;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg></button>
								</div>
								<div class="row">
								<button type="button" class="btn btn-secondary" style="background-color:#000000;width:40px;opacity:1" disabled><strong><span style="color:red" id="adf_stby_100">?</span></strong></button>
								</div>
								<div class="row">
								<button onclick="triggerSimEvent ('ADF_100_DEC', 1, true); $(this).blur(); adfminus100();" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Decrease ADF frequency by 100 kHz" style="width:40px;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg></button>
								</div>
							</div>
							<div class="col" style="margin-left:4px">
								<div class="row">
								<button onclick="triggerSimEvent ('ADF_10_INC', 1, true); $(this).blur(); adfplus10();" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Increase ADF frequency by 10 kHz" style="width:40px;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg></button>
								</div>
								<div class="row">
								<button type="button" class="btn btn-secondary" style="background-color:#000000;width:40px;opacity:1" disabled><strong><span style="color:red" id="adf_stby_10">?</span></strong></button>
								</div>
								<div class="row">
								<button onclick="triggerSimEvent ('ADF_10_DEC', 1, true); $(this).blur(); adfminus10();" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Decrease ADF frequency by 10 kHz" style="width:40px;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg></button>
								</div>
							</div>
							<div class="col" style="margin-left:4px">
								<div class="row">
								<button onclick="triggerSimEvent ('ADF_1_INC', 1, true); $(this).blur(); adfplus1();" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Increase ADF frequency by 1 kHz" style="width:40px;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg></button>
								</div>
								<div class="row">
								<button type="button" class="btn btn-secondary" style="background-color:#000000;width:40px;opacity:1" disabled><strong><span style="color:red" id="adf_stby_1">?</span></strong></button>
								</div>
								<div class="row">
								<button onclick="triggerSimEvent ('ADF_1_DEC', 1, true); $(this).blur(); adfminus1();" id="autopilot-com-freq" type="button" class="btn btn-secondary" title="Decrease ADF frequency by 1 kHz" style="width:40px;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg></button>
								</div>
							</div>
							</div>
							</div>
							
							<!-- ADF Frequency Switch -->
							<div class="col" style="margin-left:4px;">
								<div class="row">
								<button onclick="triggerSimEvent ('ADF1_RADIO_SWAP', 1, true); $(this).blur(); adfswitch();" type="button" class="btn btn-secondary" title="Swap ADF Standby frequency" style="width:35px;height:37px;padding:0px;padding-bottom:1px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"></path></svg></button>
								</div>
							</div>
							
							<!-- ADF Active -->
							<div class="col" style="margin-left:4px;margin-right:24px">
								<div class="row">
								<span class="text-light">&nbsp;ADF USE:</span>
								</div>
								<div class="row">
								<button type="button" class="btn btn-secondary" style="background-color:#000000;width:75px;margin-bottom:26px;opacity:1;padding-left:0px;padding-right:0px" disabled><strong><span style="color:red" id="adf_act_1000">?</span> <span style="color:red" id="adf_act_100">?</span> <span style="color:red" id="adf_act_10">?</span> <span style="color:red" id="adf_act_1">?</span></strong></button>
								</div>

							</div>
							
						</div>
						
						<!-- ADF Card -->
						<div class="row">
						<div class="col">		
							<div class="input-group" style="width:220px">
								<div class="input-group-prepend">
									<span class="input-group-text text-body" id="inputGroup-sizing-default" style="background-color:#B3B6B8; border-color:#B3B6B8">ADF (Deg)</span>
								</div>
								<input class="form-control" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('ADF_Set').click()" inputmode="numeric" pattern="[0-9]*" id="ADF_heading" aria-label="ADF Deg" aria-describedby="OBS_2_Deg" placeholder="-">
								<div class="input-group-append">
									<button onclick='if (document.getElementById("ADF_heading").value <= 360 && document.getElementById("ADF_heading").value >= 0 && document.getElementById("ADF_heading").value % 1 === 0 && document.getElementById("ADF_heading").value != "") {triggerSimEventFromField ("ADF_CARD_SET", "ADF_heading", "Setting ADF card");$("#ADF_heading").val("");}; $(this).blur();' class="btn btn-warning" type="button" id="ADF_Set" style="margin-top:0px;margin-bottom:0px;" title="Set ADF card heading in degrees">Set</button>
								</div>
							</div>
						</div>
						</div>
						
					</div>
					
					<!-- General -->
					<div class="col" style="margin-top:20px">
						<div class="lead">General</div>	
						<!-- Toggel Buttons Row-->
						<div class="row">
							<div class="col">
								<button type="button" onclick="triggerSimEvent ('TOGGLE_GPS_DRIVES_NAV1', 0, true); $(this).blur();" class="btn btn-secondary" style="width:220px" title="Toggle between GPS and NAV 1 driving NAV 1 OBS display (and AP)">CDI GPS/NAV</button>
							</div>
						</div>
						<div class="row"  style="width:260px">
							<div class="col">
								<button type="button" onclick="triggerSimEvent ('AP_NAV_SELECT_SET', 1, true);$(this).blur();" class="btn btn-secondary btn-sm" style="width:108px" title="Set NAV1 for CDI/AP">CDI NAV1</button>
								<button type="button" onclick="triggerSimEvent ('AP_NAV_SELECT_SET', 2, true);$(this).blur();" class="btn btn-secondary btn-sm" style="width:108px" title="Set NAV2 for CDI/AP">CDI NAV2</button>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<button type="button" onclick="triggerSimEvent ('TOGGLE_DME', 0, true); $(this).blur();" class="btn btn-secondary" style="width:220px" title="Toggle between NAV 1 and NAV 2">DME NAV1/NAV2</button>
							</div>
						</div>
						<div class="row" style="margin-top:10px">
							<div class="col align-self-center" style="max-width:88px; padding-right:0px">
							Gyro Drift:
							</div>
							<div class="col">
							<button type="button" onclick="triggerSimEvent ('GYRO_DRIFT_DEC', 0, true); $(this).blur();" class="btn btn-secondary" style="width:44px" title="Decrements heading indicator">-</button>
							<button type="button" onclick="triggerSimEvent ('GYRO_DRIFT_INC', 0, true); $(this).blur();" class="btn btn-secondary" style="width:44px" title="Increment heading indicator">+</button>
							</div>
						</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col align-self-center" style="max-width:88px; padding-right:0px">
							Altimeter:
							</div>
							<div class="col">
							<button type="button" onclick="triggerSimEvent ('KOHLSMAN_DEC', 0, true); $(this).blur();" class="btn btn-secondary" style="width:44px;" title="Decrements altimeter setting">-</button>
							<button type="button" onclick="triggerSimEvent ('KOHLSMAN_INC', 0, true); $(this).blur();" class="btn btn-secondary" style="width:44px" title="Decrements altimeter setting">+</button>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- Last Row Force Sync Frequencies -->
				<div class="row" style="margin-top:15px">
					<div class="col">
						<button type="button" onclick="syncRadio();$(this).blur();" class="btn-sm btn-danger">Force Sync Frequencies</button>
						<p class="font-italic text-secondary">Press "Force Sync Frequencies" if radio frequencies are out of sync with MSFS. Allow up to 3 seconds to sync frequencies.</p>
					</div>
				</div>
				</div>
				
				<!-- Direct Entry NAV-->
				<div id="directNAV">
				<!-- First Row-->
				<div class="row" style="margin-top:-10px">
					
					<!-- NAV 1 350i-->
					<div class="col" style="margin-top:20px; max-width:382px; min-width:320px;">
						<div class="lead">NAV 1 Active</div>					
						
						<!-- NAV 1 Freq Set 350i-->
						<div class="row" style="margin-bottom:10px; margin-top:10px">
							<div class="col">
								<div class="input-group" style="width:278px">
									<div class="input-group-prepend">
										<span class="input-group-text text-body" id="inputGroup-sizing-default" style="background-color:#B3B6B8; border-color:#B3B6B8; width:150px">NAV 1 Freq (MHz)</span>
									</div>
									<input class="form-control" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('NAV1_Set').click()" inputmode="numeric" pattern="[0-9]*" id="NAV1_freq" aria-label="NAV 1 Freq" aria-describedby="NAV1_freq" placeholder="-">
									<div class="input-group-append">
										<button onclick='if (document.getElementById("NAV1_freq").value <= 117.95 && document.getElementById("NAV1_freq").value >= 108 && document.getElementById("NAV1_freq").value != "") {triggerSimEventFromField ("NAV1_RADIO_SET", "NAV1_freq", "Setting NAV1"); $("#NAV1_freq").val("");};  $(this).blur(); sleep(3000).then(() => { syncRadio(); });' class="btn btn-warning" type="button" id="NAV1_Set" style="margin-top:0px;margin-bottom:0px;" title="Set NAV 1 frequency in MHz">Set</button>
									</div>
								</div>
							</div>
						</div>
						
						<!-- NAV 1 OBS Set 350i-->
						<div class="row" style="margin-bottom:10px; margin-top:10px">
							<div class="col">
								<div class="input-group" style="width:278px">
									<div class="input-group-prepend">
										<span class="input-group-text text-body" id="inputGroup-sizing-default" style="background-color:#B3B6B8; border-color:#B3B6B8; width:150px">NAV 1 OBS (Deg)</span>
									</div>
									<input class="form-control" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('OBS1_G3_Set').click()" inputmode="numeric" pattern="[0-9]*" id="OBS1_G3_heading" aria-label="OBS 1 G3000 Deg" aria-describedby="OBS1_G3_freq" placeholder="-">
									<div class="input-group-append">
										<button onclick='if (document.getElementById("OBS1_G3_heading").value <= 360 && document.getElementById("OBS1_G3_heading").value >= 0 && document.getElementById("OBS1_G3_heading").value % 1 === 0 && document.getElementById("OBS1_G3_heading").value != "") {triggerSimEventFromField ("VOR1_SET", "OBS1_G3_heading", "Setting OBS1"); $("#OBS1_G3_heading").val("");}; $(this).blur();' class="btn btn-warning" type="button" id="OBS1_G3_Set" style="margin-top:0px;margin-bottom:0px;" title="Set OBS1 heading in degrees">Set</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- NAV 2 350i-->
					<div class="col" style="margin-top:20px; max-width:382px; min-width:320px;">
						<div class="lead">NAV 2 Active</div>					
						
						<!-- NAV 2 Freq Set 350i-->
						<div class="row" style="margin-bottom:10px; margin-top:10px">
							<div class="col">
								<div class="input-group" style="width:278px">
									<div class="input-group-prepend">
										<span class="input-group-text text-body" id="inputGroup-sizing-default" style="background-color:#B3B6B8; border-color:#B3B6B8; width:150px">NAV 2 Freq (MHz)</span>
									</div>
									<input class="form-control" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('NAV2_Set').click()" inputmode="numeric" pattern="[0-9]*" id="NAV2_freq" aria-label="NAV 2 Freq" aria-describedby="NAV2_freq" placeholder="-">
									<div class="input-group-append">
										<button onclick='if (document.getElementById("NAV2_freq").value <= 117.95 && document.getElementById("NAV2_freq").value >= 108 && document.getElementById("NAV2_freq").value != "") {triggerSimEventFromField ("NAV2_RADIO_SET", "NAV2_freq", "Setting NAV2");$("#NAV2_freq").val("");}; $(this).blur();sleep(3000).then(() => { syncRadio(); });' class="btn btn-warning" type="button" id="NAV2_Set" style="margin-top:0px;margin-bottom:0px;" title="Set NAV 2 frequency in MHz">Set</button>
									</div>
								</div>
							</div>
						</div>
						
						<!-- NAV 2 OBS Set -->
						<div class="row" style="margin-bottom:10px; margin-top:10px">
							<div class="col">
								<div class="input-group" style="width:278px">
									<div class="input-group-prepend">
										<span class="input-group-text text-body" id="inputGroup-sizing-default" style="background-color:#B3B6B8; border-color:#B3B6B8; width:150px">NAV 2 OBS (Deg)</span>
									</div>
									<input class="form-control" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('OBS2_G3_Set').click()" inputmode="numeric" pattern="[0-9]*" id="OBS2_G3_heading" aria-label="OBS 2 G3000 Deg" aria-describedby="OBS2_G3_freq" placeholder="-">
									<div class="input-group-append">
										<button onclick='if (document.getElementById("OBS2_G3_heading").value <= 360 && document.getElementById("OBS2_G3_heading").value >= 0 && document.getElementById("OBS2_G3_heading").value % 1 === 0 && document.getElementById("OBS2_G3_heading").value != "") {triggerSimEventFromField ("VOR2_SET", "OBS2_G3_heading", "Setting OBS2"); $("#OBS2_G3_heading").val("");;}; $(this).blur();' class="btn btn-warning" type="button" id="OBS2_G3_Set" style="margin-top:0px;margin-bottom:0px;" title="Set OBS2 heading in degrees">Set</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- ADF 350i-->
					<div class="col" style="margin-top:20px; max-width:382px; min-width:320px;">
						<div class="lead">ADF Active</div>					
						
						<!-- ADF Freq Set 350i-->
						<div class="row" style="margin-bottom:10px; margin-top:10px">
							<div class="col">
								<div class="input-group" style="width:278px">
									<div class="input-group-prepend">
										<span class="input-group-text text-body" id="inputGroup-sizing-default" style="background-color:#B3B6B8; border-color:#B3B6B8; width:150px">ADF Freq (kHz)</span>
									</div>
									<input class="form-control" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('ADF_Freq_Set').click()" inputmode="numeric" pattern="[0-9]*" id="ADF_freq" aria-label="ADF Freq" aria-describedby="ADF_freq" placeholder="-">
									<div class="input-group-append">
										<button onclick='if (document.getElementById("ADF_freq").value <= 1799 && document.getElementById("ADF_freq").value >= 100 && document.getElementById("ADF_freq").value != "") {triggerSimEventFromField ("ADF_COMPLETE_SET", "ADF_freq", "Setting ADF"); $("#ADF_freq").val("");}; $(this).blur();sleep(3000).then(() => { syncRadio(); });' class="btn btn-warning" type="button" id="ADF_Freq_Set" style="margin-top:0px;margin-bottom:0px;" title="Set ADF frequency in kHz">Set</button>
									</div>
								</div>
							</div>
						</div>
						
						<!-- ADF Card -->
						<div class="row">
						<div class="col">		
							<div class="input-group" style="width:278px">
								<div class="input-group-prepend">
									<span class="input-group-text text-body" id="inputGroup-sizing-default" style="background-color:#B3B6B8; border-color:#B3B6B8; width:150px">ADF (Deg)</span>
								</div>
								<input class="form-control" type="number" onkeydown = "if (event.keyCode == 13) document.getElementById('ADF_Direct_Set').click()" inputmode="numeric" pattern="[0-9]*" id="ADF_direct_heading" aria-label="ADF Deg" aria-describedby="ADF_Direct_Card" placeholder="-">
								<div class="input-group-append">
									<button onclick='if (document.getElementById("ADF_direct_heading").value <= 360 && document.getElementById("ADF_direct_heading").value >= 0 && document.getElementById("ADF_direct_heading").value % 1 === 0 && document.getElementById("ADF_direct_heading").value != "") {triggerSimEventFromField ("ADF_CARD_SET", "ADF_direct_heading", "Setting ADF card");$("#ADF_direct_heading").val("");}; $(this).blur();' class="btn btn-warning" type="button" id="ADF_Direct_Set" style="margin-top:0px;margin-bottom:0px;" title="Set ADF card heading in degrees">Set</button>
								</div>
							</div>
						</div>
						</div>
					</div>
					
					<!-- General Direct Entry-->
					<div class="col" style="margin-top:20px">
						<div class="lead">General</div>	
						<!-- Toggel Buttons Row-->
						<div class="row">
							<div class="col">
								<button type="button" onclick="triggerSimEvent ('TOGGLE_GPS_DRIVES_NAV1', 0, true); $(this).blur();" class="btn btn-secondary" style="width:220px" title="Toggle between GPS and NAV 1 driving NAV 1 OBS display (and AP)">CDI GPS/NAV</button>
							</div>
						</div>
						<div class="row"  style="width:260px">
							<div class="col">
								<button type="button" onclick="triggerSimEvent ('AP_NAV_SELECT_SET', 1, true);$(this).blur();" class="btn btn-secondary btn-sm" style="width:108px" title="Set NAV1 for CDI/AP">CDI NAV1</button>
								<button type="button" onclick="triggerSimEvent ('AP_NAV_SELECT_SET', 2, true);$(this).blur();" class="btn btn-secondary btn-sm" style="width:108px" title="Set NAV2 for CDI/AP">CDI NAV2</button>
							</div>
						</div>
						<div class="row" style="margin-top:10px;margin-bottom:10px">
							<div class="col align-self-center" style="max-width:88px; padding-right:0px">
							Altimeter:
							</div>
							<div class="col">
							<button type="button" onclick="triggerSimEvent ('KOHLSMAN_DEC', 0, true); $(this).blur();" class="btn btn-secondary" style="width:44px;" title="Decrements altimeter setting">-</button>
							<button type="button" onclick="triggerSimEvent ('KOHLSMAN_INC', 0, true); $(this).blur();" class="btn btn-secondary" style="width:44px" title="Decrements altimeter setting">+</button>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- Last Info -->
				<div class="row" style="margin-top:15px">
					<div class="col">
						<p class="font-italic text-secondary">Intended for use with default 747, A320, CJ4, 350i, and C152 (for ADF).</p>
					</div>
				</div>
				</div>
				
				
			</div>
		</div>
	</div>
	<!-- End of Navigation-->