	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapsepanel_jf_arrow" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- Lights -->
					<div class="col" style="margin-top:20px; max-width:320px; min-width:320px;">
						<div class="lead">Lights and Heat Controls</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('ALL_LIGHTS_TOGGLE',0,true);$(this).blur();" id="light-all" type="button" class="btn btn-warning" style="width:266px">Toggle All Lights</button><br>
							<table style="width:280px">
								<tr>
									<td style="width:150px">NAV/RAD Lights:</td>
									<td><button onclick="triggerSimEvent('TOGGLE_NAV_LIGHTS',0,true);$(this).blur();" id="light-nav" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Landing Lights</td>
									<td><button onclick="triggerSimEvent('LANDING_LIGHTS_TOGGLE',0,true);$(this).blur();" id="light-landing" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>ROT BCN Lights:</td>
									<td><button onclick="triggerSimEvent('MobiFlight.JF_ARROW_LIGHTS_BCN_toggle',0,true);$(this).blur();" id="jf_pa28_bcn_light" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>ANT COL Lights:</td>
									<td><button onclick="triggerSimEvent('STROBES_TOGGLE',0,true);$(this).blur();" id="light-strobe" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Pitot Heat:</td>
									<td><button onclick="triggerSimEvent ('MobiFlight.JF_ARROW_PITOT_HEAT_toggle',0,true);$(this).blur();" id="pitot-heat-on-of" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Panel Lights:</td>
									<td><button onclick="triggerSimEvent('MobiFlight.JF_ARROW_LIGHTS_PANEL_toggle',0,true);$(this).blur();" id="light-panel" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
							</table>
						</div>
						</div>
					</div>

					<!-- Other -->
					<div class="col" style="margin-top:20px; max-width:380px; min-width:380px;">
						<div class="lead">Other Controls</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
								<table style="width:370px">
								<tr>
									<td style="width:110px">Fuel Selector:</td>
									<td>
										<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_FUEL_SELECT_cut',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_fuel_cut" style="width:60px;padding-left:0px;padding-right:0px">Cut</button>
										<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_FUEL_SELECT_left',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_fuel_left" style="width:60px;padding-left:0px;padding-right:0px">Left</button>
										<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_FUEL_SELECT_right',0,true);$(this).blur();" type="button" class="btn btn-secondary" id="jf_pa28_fuel_right" style="width:60px;padding-left:0px;padding-right:0px">Right</button>
									</td>
								</tr>
								<tr>
									<td>Flight Bag:</td>
									<td>
										<button onclick="triggerSimEvent('MobiFlight.JF_ARROW_FLIGHT_BAG_toggle',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:124x">Show/Hide</button>
									</td>
								</tr>
							</table>
						</div>
						</div>
					</div>
				
				</div>
				
			</div>
		</div>
	</div>