	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapseg1000_pfd" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- Lower Softkeys -->
					<div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
						<div class="lead">PFD Lower Softkeys</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_1',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">1</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_2',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">2</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_3',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">3</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_4',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">4</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_5',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">5</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_6',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">6</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_7',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">7</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_8',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">8</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_9',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">9</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_10',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">10</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_11',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">11</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_SOFTKEYS_12',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:25px;padding-left:0px;padding-right:0px;text-align:center">12</button>
						</div>
						</div>
					</div>
					
					<!-- FMS Softkeys -->
					<div class="col" style="margin-top:20px; max-width:295px; min-width:294px">
						<div class="lead">PFD FMS Knob</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_FMS_Lower_DEC',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:45px;padding-left:0px;padding-right:0px;text-align:center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg></button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_FMS_Upper_DEC',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:45px;padding-left:0px;padding-right:0px;text-align:center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/></svg></button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_FMS_Upper_PUSH',0,true);$(this).blur();" type="button" class="btn btn-light" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_FMS_Upper_INC',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:45px;padding-left:0px;padding-right:0px;text-align:center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/></svg></button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_FMS_Lower_INC',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:45px;padding-left:0px;padding-right:0px;text-align:center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg></button>
						</div>
						</div>
					</div>
					
					<!-- Joystick Softkeys -->
					<div class="col" style="margin-top:20px; max-width:295px; min-width:294px">
						<div class="lead">PFD Joystick</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_JOYSTICK_LEFT',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:45px;padding-left:0px;padding-right:0px;text-align:center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/></svg></button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_JOYSTICK_UP',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:45px;padding-left:0px;padding-right:0px;text-align:center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/></svg></button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_JOYSTICK_DOWN',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:45px;padding-left:0px;padding-right:0px;text-align:center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/></svg></button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_JOYSTICK_RIGHT',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:45px;padding-left:0px;padding-right:0px;text-align:center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg></button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_JOYSTICK_PUSH',0,true);$(this).blur();" type="button" class="btn btn-light" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH</button><br>
							<table>
								<tr>
									<td style="width:98px">Range:</td>
									<td>
										<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_RANGE_DEC',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:45px;padding-left:0px;padding-right:0px;text-align:center">-</button>
										<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_RANGE_INC',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:45px;padding-left:0px;padding-right:0px;text-align:center">+</button>
									</td>
								</tr>
							</table>
						</div>
						</div>
					</div>
					
					
					<!-- GPS Softkeys -->
					<div class="col" style="margin-top:20px; max-width:232px; min-width:230px">
						<div class="lead">PFD GPS Keys</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_DIRECTTO',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">D-></button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_MENU_Push',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">MENU</button><br>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_FPL_Push',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">FPL</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_PROC_Push',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PROC</button><br>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_CLR',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">CLR</button>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_ENT_Push',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">ENT</button><br>
							<button onclick="triggerSimEvent('MobiFlight.AS1000_PFD_CLR_Long',0,true);$(this).blur();" type="button" class="btn btn-light" style="width:134px;padding-left:0px;padding-right:0px;text-align:center">CLR hold</button>
						</div>
						</div>
					</div>
				
				</div>

			</div>
		</div>
	</div>