	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapsepanel_a320" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- Lights -->
					<div class="col" style="margin-top:20px; max-width:270px; min-width:270px;">
						<div class="lead">Lights</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('ALL_LIGHTS_TOGGLE',0,true);$(this).blur();" id="light-all" type="button" class="btn btn-warning" style="width:245px">Toggle All Lights</button><br>
							<table style="width:245px">
								<tr>
									<td width="190">Strobe Lights</td>
									<td><button onclick="triggerSimEvent('STROBES_TOGGLE',0,true);$(this).blur();" id="light-strobe" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Beacon Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_BEACON_LIGHTS',0,true);$(this).blur();" id="light-beacon" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Wing Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_WING_LIGHTS',0,true);$(this).blur();" id="light-wings" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>NAV/Logo Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_NAV_LIGHTS',0,true);$(this).blur();" id="light-nav" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>RWY Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_TAXI_LIGHTS',0,true);$(this).blur();" id="light-taxi" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Landing/Nose Lights</td>
									<td><button onclick="triggerSimEvent('LANDING_LIGHTS_TOGGLE',0,true);$(this).blur();" id="light-landing" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Cabin Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_CABIN_LIGHTS',0,true);$(this).blur();" id="light-cabin" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Panel Lights</td>
									<td><button onclick="triggerSimEvent('PANEL_LIGHTS_TOGGLE',0,true);$(this).blur();" id="light-panel" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
							</table>
						</div>
						</div>
					</div>

					<!-- Pitot & Deicing -->
					<div class="col" style="margin-top:20px; max-width:300px; min-width:290px;">
						<div class="lead">Anti Ice</div>
						<div class="row" style="margin-bottom:10px">
							<div class="col">
								<button onclick="triggerSimEvent('TOGGLE_STRUCTURAL_DEICE',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:245px;padding-left:0px;padding-right:0px;text-align:center">Toggle Wing Anti Ice</button><br>
								<button onclick="triggerSimEvent('ANTI_ICE_TOGGLE_ENG1',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:245px;padding-left:0px;padding-right:0px;text-align:center">Toggle ENG1 Anti Ice</button><br>
								<button onclick="triggerSimEvent('ANTI_ICE_TOGGLE_ENG2',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:245px;padding-left:0px;padding-right:0px;text-align:center">Toggle ENG2 Anti Ice</button><br>
								<button onclick="triggerSimEvent('MobiFlight.A32NX_PROBE_WINDOW_HEAT_toggle',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:245px;padding-left:0px;padding-right:0px;text-align:center">Toggle Probe/Window Heat</button>
								
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>